<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Impact Bootstrap Template - Blog Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

</head>

<body>


  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Dermat<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('hello')}}">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Team Member</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Danish Ansari</a></li>
              <li><a href="#">Haziquddin Ansari</a></li>
              <li><a href="#">Himanshu Upase</a></li>
              <li><a href="#">Meghashree Mohane</a></li>
            </ul>
          </li>
          <li><a href="#team">Project Guide</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h4 class="text-white">The Model predicted the image as Dermatitis</h4>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{{url_for('hello')}}">Home</a></li>
            <li>Blog Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Basic information about Dermatitis</h2>
              <div class="content">
                <p>
                  Dermatitis is a general term that describes a common skin irritation. It has many causes and forms and
                  usually involves itchy, dry skin or a rash. Or it might cause the skin to blister, ooze, crust or
                  flake off. </p>
                <p>Three common types of this condition are atopic dermatitis (eczema), seborrheic dermatitis and
                  contact dermatitis.

                  Dermatitis isn't contagious, but it can make you feel uncomfortable and self-conscious. Moisturizing
                  regularly helps control the symptoms. Treatment may also include medicated ointments, creams and
                  shampoos.</p>
                <blockquote>
                  <p>
                    Symptoms: <br>
                    1. Itchiness (pruritus). <br>
                    2. Dry skin. <br>
                    3. Rash on swollen skin that varies in color depending on your skin color. <br>
                    4. Blisters, perhaps with oozing and crusting. <br>
                    5. Flaking skin (dandruff). <br>
                    6. Thickened skin. <br>
                    7. Bumps in hair follicles </p>
                </blockquote>

                <h3>When to see a doctor</h3>
                <p>
                  1. You're so uncomfortable that you're losing sleep or are distracted from your daily routines. <br>
                  2. Your skin becomes painful. <br>
                  3. You suspect that your skin is infected. <br>
                  4. You've tried self-care steps but your signs and symptoms persist</p>

                <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
                    class="bi bi-arrow-up-short"></i></a>

                <div id="preloader"></div>

                <!-- Vendor JS Files -->
                <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="../static/vendor/aos/aos.js"></script>
                <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
                <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
                <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
                <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
                <script src="../static/vendor/php-email-form/validate.js"></script>

                <!-- Template Main JS File -->
                <script src="../static/js/main.js"></script>

</body>

</html>